/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

@use "styles/fonts";
@use "styles/desktop";
@use "styles/dashboard";
@use "styles/barchart";
@use "styles/animations";
@use "styles/loginform";

.betjenesnu {
  border: 2px solid transparent;
  background-color: #ffffff;
  border-radius: 15px;
  width: fit-content;
  padding: 10px;
  margin: 10px;
}

.hvembetjenes-data,
.servingnowcstm {
  display: flex;
  flex-wrap: wrap;
}

.ontapimg {
  width: 10%;
}

.dagensdiv {
  display: flex;
}

.ontapflex {
  display: flex;
  flex-direction: column;
}

.avatar {
  border: 1px solid transparent;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 0px 8px 8px 0px;
}
.flex {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
}

body {
  background-color: #292e3d;
}

.antal {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  width: 20px;
  height: 20px;
}

.lagerflex {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 5px;
}

.colorover5 {
  background: linear-gradient(to right, #56ab2f, #a8e063);
}

.colorunder5 {
  background: linear-gradient(to left, #ed213a, #93291e);
}

.countdown,
.countdowncstm {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hours,
#minutes,
#seconds,
#hourscstm,
#minutescstm,
#secondscstm {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 15px;
  margin: 20px 10px 10px 10px;
}

.dagensdiv {
  border: 2px solid white;
  border-radius: 20px;
  margin: 10px 10px 10px 0px;
  padding: 0px 5px 5px 5px;
}

.dagensdiv h2 {
  font-size: 1.5rem;
}

.dagensdiv p {
  font-size: 1rem;
}

.hidden {
  display: none;
}
