@media (min-width: 1200px) {
  .forstaff {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .dagens {
    grid-row: 1/3;
  }

  .tidogbetjenes {
    display: grid;
  }

  #hours,
  #minutes,
  #seconds,
  #hourscstm,
  #minutescstm,
  #secondscstm {
    font-size: 3rem;
  }

  .forcustomers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .todaysbeercstm {
    grid-row: 2/4;
    grid-column: 1/3;
  }
  .datatodaycstm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    button {
      grid-column: 2;
      grid-row: 4;
    }
  }
  .greeting {
    grid-column: 1/3;
    text-align: left;
    h1 {
      font-size: 7rem;
      margin-left: 2rem;
      margin-top: 2rem;
    }
    p {
      margin-left: 2.5rem;
    }
  }

  .timeandservingcstm {
    grid-column: 3;
    grid-row: 1/4;
    margin-top: 132px;
  }

  .todaysbeercstm {
    button {
      float: right;
    }
  }

  body {
    overflow: hidden;
  }

  .ontapimg {
    width: 18%;
  }
}
