$font-stack: Program, sans-serif;

h1,
h2 {
  font: 100% $font-stack;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

p {
  color: white;
  font: 100% $font-stack;
  font-weight: 400;
  font-size: 1.5rem;
}

#hours,
#minutes,
#seconds,
#hourscstm,
#minutescstm,
#secondscstm {
  color: #3b4258;
  text-align: center;
}

.betjenesnu {
  color: #3b4258;
}

::placeholder {
  color: white;
  font: 100% $font-stack;
  font-weight: 400;
  font-size: 1rem;
}
