$font-stack: Program, sans-serif;

h1,
h2 {
  font: 100% $font-stack;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

p {
  color: white;
  font: 100% $font-stack;
  font-weight: 400;
}

.betjenesnu {
  color: #3b4258;
}
