$font-stack: Program, sans-serif;
$font-color: white;

h1,
h2 {
  font: 100% $font-stack;
  font-weight: 500;
  font-size: 2rem;
  color: #4d4f54;
}

.todaysbeercstm {
  button {
    font: 100% $font-stack;
    font-weight: 500;
  }
}

.lager {
  .name,
  p {
    font-size: 1.5rem;
  }
}

p {
  color: #4d4f54;
  font: 100% $font-stack;
  font-weight: 400;
  font-size: 1.5rem;
}

#hours,
#minutes,
#seconds,
#hourscstm,
#minutescstm,
#secondscstm {
  color: #3b4258;
  text-align: center;
}

.servingnow {
  color: #3b4258;
}

::placeholder {
  color: $font-color;
  font: 100% $font-stack;
  font-weight: 400;
  font-size: 1rem;
}

.tapwrapper h2 {
  font-size: 1.5rem;
}

.tapwrapper p {
  font-size: 1rem;
}

.greeting {
  text-align: center;
  margin-bottom: 30px;
  h1 {
    font-size: 2.5rem;
  }
}
